# Python / entorno
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.env
.env.*

# Notebooks
.ipynb_checkpoints/

# OS/IDE
.DS_Store
.vscode/

# Archivos locales/temporales del proyecto
body.json
trust.json
cors.json
create_url.json
ecr-lifecycle.json
0
7
600ms

# Datasets locales (NO subir)
data/**

# Modelos entrenados locales (sí subirás models_release, no /models)
models/**
!/models_release/**

# Logs
*.log
